body {
	margin: 60px 90px;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

.header {
	&__h1 {
		font-size: 30px;
	}

	&__tasks {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		margin-top: 30px;

		&_link {
			font-size: 16px;
			text-decoration: none;
			color: #2a2932;
			background-color: #f8f7f4;
			padding: 10px 15px;
			border-radius: 25px;
		}

		&_link:hover {
			// color: grey;
			// background-color: #deddd9;
			background-color: #f3f3f3;
		}
	}

}

@media (max-width: 900px) {
	body {
		margin-right: 80px;
		margin-left: 80px;
	}
}

@media (max-width: 700px) {
	body {
		margin-right: 50px;
		margin-left: 50px;
	}
}

@media (max-width: 500px) {
	body {
		margin-right: 30px;
		margin-left: 30px;
	}
}

@media (max-width: 350px) {
	body {
		margin-right: 20px;
		margin-left: 20px;
	}
}