* {
	box-sizing: border-box;
}

body {
	margin: 60px 180px 60px 120px;
	font-family: "Montserrat", sans-serif;
	padding: 0;
}

ul {
	line-height: 1.5;
}

a {
	text-decoration: underline;
	text-decoration-color: #fcd261;
	border-radius: 5px;
	color: #000000;
}

a:hover {
	background-color: #f3f3f3;
}

@media (max-width: 900px) {
	body {
		margin-right: 80px;
		margin-left: 80px;
	}
}

@media (max-width: 600px) {
	body {
		margin-right: 50px;
		margin-left: 50px;
	}
}

@media (max-width: 500px) {
	body {
		margin-right: 30px;
		margin-left: 30px;
	}
}

@media (max-width: 350px) {
	body {
		margin-right: 20px;
		margin-left: 20px;
	}
}