* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.5;
	// font-family: "Reddit Sans", sans-serif;
	/* font-family: "Roboto", sans-serif; */
	/* font-family: "Montserrat", sans-serif; */
}

body {
	margin: 50px 70px 60px 70px;
	font-family: "Montserrat", sans-serif;
	padding: 0;
	box-sizing: border-box;
}



h1 {
	font-size: 30px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

p {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	text-decoration-color: #fcd261;
	// padding-left: 5px;
	// padding-right: 5px;
	border-radius: 5px;
	// color: #091853;
	color: #000000;
}

a:hover {
	background-color: #f3f3f3;
}

.header {
	&__h1 {
		font-size: 30px;
	}

}

.task__full_box_info a:hover {
	background-color: #ffffff;
}

.task {
	&__full {
		&_title {
			margin-top: 20px;
		}

		&_text {
			font-size: 16px;
		}

		&_img {
			display: block;
			width: 60%;
			border: 1px solid black;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		&_img-small {
			display: block;
			width: 30%;
			border: 1px solid black;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		&_video {
			width: 60%;
			// border: 1px solid black;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		&_box {
			margin: 0;
			padding: 0;
			margin-top: 20px;
			// margin-left: 60px;
			// width: 50%;

			&_title,
			&_text,
			&_h4,
			&_list,
			&_list>ul {
				margin: 0;
				padding: 0;
			}

			&_list-margin {
				margin-top: 15px;
				margin-bottom: 15px;
			}

			&_text {
				margin-top: 20px;
			}

			&_another-text {
				margin-top: 5px;
				margin-bottom: 5px;
			}

			.h4-list {
				margin-left: 15px;
			}

			&_h4 {
				margin-top: 15px;
				list-style-type: "✸";

				& li {
					margin-left: 10px;
					padding-left: 5px;
				}

				& .task__full_box_list {
					list-style-type: "✷";
				}
			}

			&_list {
				margin-left: 25px;

				&_img {
					width: 40%;
					border: 1px solid black;
					margin-top: 20px;
					margin-bottom: 20px;
				}
			}

			&_list>ul {
				margin-left: 15px;
				list-style-type: "✶";
			}

			&_list>ul>ul {
				margin-left: 15px;
				list-style-type: "✴";
			}

			&_list>ul>ul>ul {
				margin-left: 15px;
				list-style-type: "✳";
			}

			&_info {
				margin-top: 20px;
				padding: 20px;
				border-radius: 5px;
				background-color: #f3f3f3;

				&_link {
					text-decoration: underline;
					text-decoration-color: #fcd261;
					// padding-left: 5px;
					// padding-right: 5px;
					border-radius: 5px;
					// color: #091853;
					color: #000000;
				}

				&_link:hover {
					background-color: #f3f3f3;
				}
			}

			&_link-box {
				display: flex;
				flex-direction: column;
				gap: 10px;

				&_title {
					margin: 0;
					padding: 0;
					margin-top: 20px;
				}
			}

			&_table {
				border: 1px solid black;
				border-collapse: collapse;
			}

			&_table th,
			&_table td {
				border: 1px solid;
				padding: 10px;
			}

		}

		.task-additions a {
			text-decoration: none;
			color: #384051;
			align-self: flex-start;
		}
	}

	&__gallery {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;

		&_item a {
			text-decoration: none;
			padding-left: 0;
			padding-right: 0;
			border-radius: 0;
		}

		&_item img {
			width: 100%;
			margin-top: 0;
			margin-bottom: 0;
		}

		&_item p {
			text-align: center;
		}
	}
}

@media (max-width: 650px) {
	body {
		margin: 40px 50px 60px 50px;
	}

	.task {
		&__full {
			&_title {
				margin-top: 10px;
			}

			&_img {
				width: 80%;
				margin-top: 0;
				margin-bottom: 0;
			}

			&_box {
				margin-top: 10px;

				&_text {
					margin-top: 10px;
				}

				&_info {
					margin-top: 10px;
				}

				&_list {
					&_img {
						// width: 60%;
						margin-top: 10px;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	body {
		margin: 40px 40px 50px 40px;
	}

	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 16px;
	}

	p {
		font-size: 14px;
	}

	.task {
		&__full {

			&_text {
				font-size: 14px;
			}

			&_img {
				width: 80%;
			}

			// &_box {
			// 	&_list {
			// 		&_img {
			// 			width: 80%;
			// 		}
			// 	}
			// }
		}
	}
}

.table_type_one {
	margin-top: 15px;
}

.table_type_one_img img {
	width: 350px;
	border: 1px solid black;
}

.table_type_one_img {
	width: 80%;
}

.table_type_one_img td {
	vertical-align: top;
}

.table_type_one_img tr:first-child {
	width: 100px;
}