* {
	box-sizing: border-box;
}

body {
	margin: 60px 180px 60px 120px;
	font-family: "Montserrat", sans-serif;
	padding: 0;
}

ul {
	line-height: 1.5;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 22px;
	/* margin: 0; */
}

h4 {
	font-size: 20px;
}

p {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.5;
}

a {
	text-decoration: underline;
	text-decoration-color: #fcd261;
	border-radius: 5px;
	color: #000000;
	font-size: 18px;
}

a:hover {
	background-color: #f3f3f3;
}

.task__full_box_info {
	margin-top: 20px;
	padding: 20px;
	border-radius: 5px;
	background-color: #f3f3f3;
}

.task__full_box_info a:hover {
	background-color: #ffffff;
}

.task__full_box_link-box {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.task__full_box_link-box_title {
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

@media (max-width: 900px) {
	body {
		margin-right: 80px;
		margin-left: 80px;
	}
}

@media (max-width: 600px) {
	body {
		margin-right: 50px;
		margin-left: 50px;
	}
}

@media (max-width: 500px) {
	body {
		margin-right: 30px;
		margin-left: 30px;
	}
}

@media (max-width: 350px) {
	body {
		margin-right: 20px;
		margin-left: 20px;
	}
}